/* about header */
.about-us-header{
    margin:2rem 0px ;
    text-align: center;

}
.about-us-header span{
    color: grey;
}
.about-us-content{
    display: flex;
    gap: 2rem;
}
.about-us-content img{
    width: 50%;
    height: 40vh;
}
.about-us-text{
    margin-top: 3rem;
    color: grey;
}
.about-us-text h4{
    color: black;
    font-weight: bold;
}
.about-us-text p{
    margin-bottom: 1rem;
}

/* choose us section */
.choose-us-container h3{
margin: 2rem 0px;
color: rgb(58, 49, 49);
}
.choose-us-container h3 span{
    font-weight: lighter;
    color: black;
}

.choose-us-content{
    display: flex;
    color: rgb(69, 57, 57);
}
.choose-us-content div{
    border: 1px solid rgb(218, 211, 211);
    width: 450px;
    padding: 5rem;
}
.choose-us-content div:hover{
    background-color: #7581f3;
    color: white;
    transition: 0.5s ease-in-out;
}

.key-point h5{
    margin-bottom: 1rem;
}